{% load static %}
<html>
  <head>
    <link href="//fonts.googleapis.com/css2?family=EB+Garamond&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"> </script>
    <link rel="stylesheet" href="{% static 'css/all_pages.css' %}">
    <title> Rennie's webpage </title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-expand-sm navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class = "container">
          <a class="navbar-brand" href="{% url 'home' %}" ><i class="glyphicon glyphicon-home"> </i>   </a>
        </div>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbar">
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <div class = "navContainer">
                  <p>Hello {{ user.username }}</p>
              </div>
              </li>
            {% endif %}
            <li class="nav-item">
              <div class = "navContainer">
              <a id = "navCV" class="nav-link"href="{% url 'entry_list' %}">
                <span class="glyphicon glyphicon-briefcase"></span>&nbsp; CV
              </a>
            </div>
            </li>
            <li class="nav-item">
              <div class = "navContainer">
              <a id = "navBlog" class="nav-link" href="{% url 'post_list' %}">
                <span class="glyphicon glyphicon-paperclip"></span>&nbsp; Blog
              </a>
            </div>
            </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <div class = "navContainer">
              <a id = "addPost" class="nav-link" href="{% url 'post_new' %}">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; New Post
              </a>
            </div>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="nav-item">
              <div class = "navContainer">
              <a id = "addEntry" class="nav-link" href="{% url 'entry_new' %}">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; New Entry
              </a>
            </div>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="nav-item">
              <div class = "navContainer">
              <a id = "addEntry" class="nav-link" href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-lock"></span>&nbsp; Logout
              </a>
            </div>
            </li>
          {% else %}
          <li class="nav-item">
            <div class = "navContainer">
            <a id = "addEntry" class="nav-link" href="{% url 'login' %}" >
              <span class="glyphicon glyphicon-lock"></span>&nbsp; Login
            </a>
          </div>
          </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="content container">
      <div class="row">
        <div class="col-xl-1">
          {% block content %} {% endblock%}
          {% block home %} {% endblock %}
          {% block cv %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
