{% load static %}
<html>
  <head>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css2?family=Merriweather&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css2?family=EB+Garamond&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title> Rennie's webpage </title>
  </head>
  <body>
    <div class="page-header">
      <h1> Welcome to Rennie's first blog </h1>
      {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus-sign"></span></a>
      {% endif %}
      </div>
      <div class = "content container">
        <p>Thank you for visiting my website. You can find my blog and CV by clicking on the links below. :)</p>
        <a href="{% url 'post_list' %}"> <button type="button"> Blog </button></a>
        <a href="{% url 'post_list' %}"> <button type="button"> CV page </button></a>
      </div>
  </body>
</html>
