{% extends 'base.html' %}
{% block cv %}
  	<div class ="cv-header">
      <h1 class ="name"> Reni Hristova </h1>
  		<div class ="contactDetails">
        <ul>
  				<li>LinkedIn: <a href="https://www.linkedin.com/in/reni-hristova-2b6723160/">Reni Hristova</a></li>
  			</ul>
  		</div>
    </div>
    <div class = "cv-body">
<!-- Education -->
      <section>
          <div class="sectionTitle">
            <h1>Education</h1>
          </div>
          <div class="sectionContent">
              {% for entry in entries %}
                <div class="entry">
                  {% if entry.type == 'education' %}
                  <div class="content">
                    <h3>{{entry.organisation}},
                      <a href="{% url 'entry_details' pk=entry.pk %}">{{ entry.title}}</a>
                     </h3>
                    <div class = "date">
                      <p>
                        {{entry.start_date}} - {{entry.end_date}}
                      </p>
                    </div>
                    <p>{{ entry.description|linebreaksbr }}</p>
                  </div>
                  {% endif %}
                </div>
            {% endfor %}
          </div>
      </section>

<!-- Experince -->
      <section>
          <div class="sectionTitle">
            <h1>Work Experince</h1>
          </div>
          <div class="sectionContent">
            {% for entry in entries %}
            <div class="entry">
              {% if entry.type == 'experience' %}
                <div class="content">
                  <h3>{{entry.organisation}},
                    <a href="{% url 'entry_details' pk=entry.pk %}">{{ entry.title}}</a>
                   </h3>
                  <div class = "date">
                    <p>
                      {{entry.start_date}} - {{entry.end_date}}
                    </p>
                  </div>
                  <p>{{ entry.description|linebreaksbr }}</p>
                </div>
              {% endif %}
          {% endfor %}
            </div>
          </div>
      </section>

<!-- Achievements -->
      <section>
          <div class="sectionTitle">
            <h1>Achievements</h1>
          </div>
          <div class="sectionContent">
            {% for entry in entries %}
              {% if entry.type == 'achievement' %}
              <div class="entry">
                <div class="content">
                  <h3><a href="{% url 'entry_details' pk=entry.pk %}">{{ entry.title}}</a>
                  Awarded by: {{entry.organisation}} </h3>
                  <p>{{ entry.description|linebreaksbr }}</p>
                </div>
              </div>
              {% endif %}
          {% endfor %}
          </div>
      </section>
      <div class="space">
      </div>
{% endblock %}
