{% extends 'cv/cv_static.html' %}
{% block PersonalProfile %}
  <p> I am currently doing a Year in Computer Science (YCS) as part of my programme at the University of Birmingham. I have developed excellent communication and time-management skills during my experiences as a Student Mentor and my placement at SCVO. I have experience using Java, MySQL, PostGres, UML 2.0 and C++, as well as some HTML and CSS. I am currently looking for a summer internship, which will help me to improve and apply my programming skills in a working context.</p>

{% endblock %}
