.navbar-custom .navbar-brand {
  color: #edb3a1;
  font-family: 'Playfair Display', serif;
}

.navbar-custom .navbar-header{
  width: 70px;
}

.navbar-custom .navbar-nav .nav-link {
    color: #edb3a1;
    font-family: 'EB Garamond', monospace;
}

.navbar-custom .navbar-nav {
  float: right;
}

.navbar-custom .navbar-nav .nav-item {
  margin: 7px 10px 0px 10px;
  padding: 7px 10px 0px 10px;
}

h1.welcome{
  color: white;
	font-family: 'Playfair Display', serif;
  font-size: 4em;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px #000000;
}

p.welcome{
  color: white;
  margin-top: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px #000000;
}

img{
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin-top: 0px;
  display: inline;
}

.login-form h1 {
  color: #7e5143;
	font-family: 'Playfair Display', serif;
  text-align: left;
  width: 50%;
  min-width: 250px;
  margin: auto;
  margin-bottom: 20px;
}

.login-form table{
  width: 50%;
  min-width: 250px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.login-button{
  width: 10%;
  min-width: 70px;
  display: block;
  margin-left: 40%;
}

h1.name {
  color: #7e5143;
	font-weight: 700;
	font-family: 'Playfair Display', serif;
  float: right;
  vertical-align: center;
}

.contactDetails{
  list-style-type: none;
	margin-top: 2px;
  font-size: 1em;
  vertical-align: center;
}

.cv-header {
  float: center;
  padding: 25px 10px;
  border-bottom: 2px solid #cf8a05;
  background: #ededed;
  width: 80%;
  margin: auto;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
  display: block;
}

.sectionTitle h1 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
	color: black;
  text-decoration: underline;
  text-decoration-color: #cf8a05;
}

.content p, .sectionContent p{
  text-align: left;
  font-size: 15px;
  font-family: 'EB Garamond', monospace;
}

.post, .cv-body {
  width: 80%;
  margin: auto;
}

.post h2, .content a{
  text-align: left;
  font-family: 'EB Garamond', monospace;
  font-weight: bold;
  color: #7e5143;
}

.content h3{
  font-family: 'EB Garamond', monospace;
  font-weight: bold;
}

.btn-default{
  float: right;
  margin: -20px 0px 50px 0px;
}

.save{
    float: right;
    margin: 20px 50px 70px 0px;
    padding: 5px 20px;
}

.post-form textarea, .post-form input, .entry-form textarea, .entry-form input {
    width: 80%;
    text-align: left;
    display: inline-block;
    margin-left: 40px;
}

.date p {
    color: #828282;
    text-align: right;
}
.space{
  padding: 40px;
}
