.navbar-custom .navbar-brand {
  color: #edb3a1;
  font-family: 'Playfair Display';
  text-align: center;
  vertical-align: center;
    display: inline;
}

.navbar-custom .navbar-nav .nav-link {
    color: #edb3a1;
    font-family: 'EB Garamond';
}

.navbar-custom .navbar-nav {
  display: inline;
  float: right;
}

.navbar-custom .navbar-nav .nav-item {
  display: inline;
  margin: -10px 10px 20px 10px;
  padding: -10px 10px 20px 10px;
}

.navContainer{
  display: inline;
  vertical-align: center;
}

h1.name {
  color: #7e5143;
	font-weight: 700;
	font-family: 'Playfair Display', serif;
  float: right;
  vertical-align: center;
}

.contactDetails{
  list-style-type: none;
	margin-top: 2px;
  font-size: 1em;
  vertical-align: center;
}

.cv-header {
  float: center;
  padding: 25px 10px;
  border-bottom: 2px solid #cf8a05;
  background: #ededed;
  width: 80%;
  margin: auto;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
  display: block;
}

.sectionTitle h1 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
	color: black;
  text-decoration: underline;
  text-decoration-color: #cf8a05;
}

.content p, .sectionContent p{
  text-align: left;
  font-size: 15px;
  font-family: 'EB Garamond';
}

.post, .cv-body {
  width: 80%;
  margin: auto;
}

.post h2, .content a{
  text-align: left;
  font-family: 'EB Garamond';
  font-weight: bold;
  color: #7e5143;
}

.content h3{
  font-family: 'EB Garamond';
  font-weight: bold;
}

.btn-default{
  float: right;
  margin: -20px 0px 50px 0px;
}

.save {
    float: right;
    margin: 20px 50px 70px 0px;
    padding: 5px 20px;
}

.post-form textarea, .post-form input, .entry-form textarea, .entry-form input {
    width: 80%;
    text-align: left;
    display: inline-block;
    margin-left: 40px;
}

.date p {
    color: #828282;
    text-align: right;
}
