.navbar-custom .nav-item {
    text-align: center;
    vertical-align: center;
    display: block;
}

h4{
  color: #53D4BA;
  font-family: 'Lobster';
}

h1 {
  color: inherit;
  font-family: 'Lobster';
  text-align: left;
  font-size: 40px;
}
h1.name {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Lobster', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

.page-header {
    background-color: #FFCA84;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.post {
    margin-left: 40px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2{
  display: inline-block;
}

h2.content {
  color: 	#53D4BA;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  display: inline-block;
}

p.content{
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  color: black;
  font-family: 'EB Garamond', serif;
}

.footer p {
    color: #828282;
    text-align: left;
}
