article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

.clear {clear: both;}

.navbar-custom .nav-item {
    text-align: center;
    vertical-align: center;
    display: block;
}

.navbar-custom .navbar-brand {
  color: blue;
  font-family: 'Lobster';
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}


.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}
